registry=https://pkgs.dev.azure.com/550791/_packaging/T1/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 1/27/2019.
; begin auth token
//pkgs.dev.azure.com/550791/_packaging/T1/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIwNzcyZmVkNC03NDBhLTYyMDMtOTZlZC00MmYxMzA5NWQwMTYiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMThkYWEyMzUtYTNmNS00YjJhLWFlOWYtMWIzNmM1NjE0YmYxIiwic2lkIjoiYmRkNzEwZmItZGNhNy00Njk0LTg2ZjMtODA0ZTMxOGM4MWI0IiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286OTA0N2U3OTEtY2ExMC00ZmY2LWFmNGYtOTRjYjdmOTNlYzE4IiwibmJmIjoxNTQwODA3ODEyLCJleHAiOjE1NDg1ODQ0MTJ9.HYGBZn4D0UT-9wWoV6cW2FeZnHnn0L-3WU76qskO8IFOumik1qxu4vvcpVtdIkHFvi79nKQ6nVBZq3ttIlV-ZH-VKUqmWflzN-Vrmukaf2EnjpqZvQkjdDCgB0xT8bkclPzkqxQpShTYCNIVO2G5YQEXEctbJ22Qv3P_SNH2n_Gzb9gFv1Ftq7TNwbLGXhbeyO4Ms145ZnBVhKSHB-GBO1WodmmnHGgRDP-lLjAy5R0Pz7GO2T6ykVwSDv4p1EVWgTUQbZdLkQHRsaCEtfX5mDq7kuKp5okJgGP8OPh0ZP0EqaEs4YWqezgyvl2qXvcQa1WHCB0YzG3MYRw6WzqkkA
//pkgs.dev.azure.com/550791/_packaging/T1/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIwNzcyZmVkNC03NDBhLTYyMDMtOTZlZC00MmYxMzA5NWQwMTYiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMThkYWEyMzUtYTNmNS00YjJhLWFlOWYtMWIzNmM1NjE0YmYxIiwic2lkIjoiYmRkNzEwZmItZGNhNy00Njk0LTg2ZjMtODA0ZTMxOGM4MWI0IiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286OTA0N2U3OTEtY2ExMC00ZmY2LWFmNGYtOTRjYjdmOTNlYzE4IiwibmJmIjoxNTQwODA3ODEyLCJleHAiOjE1NDg1ODQ0MTJ9.HYGBZn4D0UT-9wWoV6cW2FeZnHnn0L-3WU76qskO8IFOumik1qxu4vvcpVtdIkHFvi79nKQ6nVBZq3ttIlV-ZH-VKUqmWflzN-Vrmukaf2EnjpqZvQkjdDCgB0xT8bkclPzkqxQpShTYCNIVO2G5YQEXEctbJ22Qv3P_SNH2n_Gzb9gFv1Ftq7TNwbLGXhbeyO4Ms145ZnBVhKSHB-GBO1WodmmnHGgRDP-lLjAy5R0Pz7GO2T6ykVwSDv4p1EVWgTUQbZdLkQHRsaCEtfX5mDq7kuKp5okJgGP8OPh0ZP0EqaEs4YWqezgyvl2qXvcQa1WHCB0YzG3MYRw6WzqkkA
; end auth token
