registry=https://pkgs.dev.azure.com/550791/_packaging/TEST/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 1/27/2019.
; begin auth token
//pkgs.dev.azure.com/550791/_packaging/TEST/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIwNzcyZmVkNC03NDBhLTYyMDMtOTZlZC00MmYxMzA5NWQwMTYiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiZmNhOTYxNTgtZTQ4Zi00NzgyLWFmY2MtZGYzODAwOTc2YTRkIiwic2lkIjoiYWY5MzQyN2EtZTQyMC00NDhiLTgzZDEtNDRlNzI3NGY4NDQ0IiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286OTA0N2U3OTEtY2ExMC00ZmY2LWFmNGYtOTRjYjdmOTNlYzE4IiwibmJmIjoxNTQwODA1NzI3LCJleHAiOjE1NDg1ODIzMjd9.r3NFfnAis5ZsCZVidsvwoNTohuu_xQa8VO0p4jKNFNPzPLWmPf_k-ZYsK56PPqFr13MVN-zy8YReNMGMnLVoY921D5DeNee9JQX5bJUSKBQ4Sr26qk9UKz0wTBON4ok1MNdUphqKWaPc-M1KVd90Cj7DAnga3gDJ6i3Hcp3UQkXgGffYrpKzrj71lzbKwy8grhkkBS4qXY4GJFO64GZcQJCilOvjr_k6wbP96kGezm0wQ4wEXnLZWTUU1P79TsdzcsLpM5HMnZUVkSkLq1iUxEh77DQ9WnujGQaSQV9cRkIcYnUov4c9CLKAoKm7pxZRaY0XQMyZrUBcqNcLs5y78w
//pkgs.dev.azure.com/550791/_packaging/TEST/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIwNzcyZmVkNC03NDBhLTYyMDMtOTZlZC00MmYxMzA5NWQwMTYiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiZmNhOTYxNTgtZTQ4Zi00NzgyLWFmY2MtZGYzODAwOTc2YTRkIiwic2lkIjoiYWY5MzQyN2EtZTQyMC00NDhiLTgzZDEtNDRlNzI3NGY4NDQ0IiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286OTA0N2U3OTEtY2ExMC00ZmY2LWFmNGYtOTRjYjdmOTNlYzE4IiwibmJmIjoxNTQwODA1NzI3LCJleHAiOjE1NDg1ODIzMjd9.r3NFfnAis5ZsCZVidsvwoNTohuu_xQa8VO0p4jKNFNPzPLWmPf_k-ZYsK56PPqFr13MVN-zy8YReNMGMnLVoY921D5DeNee9JQX5bJUSKBQ4Sr26qk9UKz0wTBON4ok1MNdUphqKWaPc-M1KVd90Cj7DAnga3gDJ6i3Hcp3UQkXgGffYrpKzrj71lzbKwy8grhkkBS4qXY4GJFO64GZcQJCilOvjr_k6wbP96kGezm0wQ4wEXnLZWTUU1P79TsdzcsLpM5HMnZUVkSkLq1iUxEh77DQ9WnujGQaSQV9cRkIcYnUov4c9CLKAoKm7pxZRaY0XQMyZrUBcqNcLs5y78w
; end auth token
